<!DOCTYPE html>
<html>
<title>Chitter</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
<img src="/image/Gemfile.png" width="300px">
<div align="center">
  <br>

  <form action="/signup" method="post">
    <h3>Sign up to use Chitter</h3>
    <br>
    <label for="email">
      <h4>Email: </h4>
    </label>
    <input type="text" name="email">
    <label for="username">
      <h4>User name: </h4>
    </label>
    <input type="text" name="username">
    <label for="password">
      <h4>Password: </h4>
    </label>
    <input type="text" name="password">
    <input type="submit" value="Sign up">
  </form>
</div>